body {
    background-color: black;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 85px;
    text-align: center;
    background-image: linear-gradient(0deg, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: monospace;
    font-size: 20px;
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship {
    border: 4px solid white;
    padding: 10px;
    margin: 2px;
    color: white;
    display: inline-block;
}

.hit {
    border-color: green;
    color: green;
}

.miss {
    border-color: red;
    color: red;
}

.unit-control {
    color: white;
    margin: 4px;
}

.unit-control button {
    margin: 0 2px;
}

#raceSelectContainer {
    margin: 8px 0;
    color: white;
}